body {
    margin: 0;
    height: 100%;
	background: black;
	color: white;
}
footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
	background: black;
	color: white;
}
.center {
    text-align: center;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
	color: white;
}
.content {
    padding: 0;
    background: black;
	color: white;
}
a {
    text-decoration-line: none;
}
a:link {
    color: black;
}
a:visited {
    color: black;
}
a:hover {
    color: black;
}
a:active {
    color: black;
}

@media (prefers-color-scheme: light) {
  .content {
    background: white;
    color: black;
  }
   .wrapper {
    background: white;
    color: black;
  }
	footer {
    background: white;
    color: black;
  }
	body {
    background: white;
    color: black;
  }
}